.editableform {
    margin-bottom: 0;
}

.editableform .control-group {
    margin-bottom: 0;
    white-space: nowrap;
    line-height: 20px;
}

.editable-buttons.editable-buttons-bottom {
    display: block;
    margin-top: 7px;
    margin-left: 0;
}

.editable-input {
    white-space: normal;
}

.editable-buttons button.ui-button-icon-only {
    height: 24px;
    width: 30px;
}

.editableform-loading {
    height: 25px;
    width: auto;
    min-width: 25px;
}

.editable-inline .editableform-loading {
    background-position: left 5px;
}

.editable-error-block {
    max-width: 300px;
    margin: 5px 0 0 0;
    width: auto;
    white-space: normal;
}

.editable-error-block.ui-state-error {
    padding: 3px;
}

.editable-error {
    color: red;
}

.editableform .editable-date {
    padding: 0;
    margin: 0;
    float: left;
}

.editable-inline .add-on .icon-th {
    margin-top: 3px;
    margin-left: 1px;
}

.editable-checklist label input[type='checkbox'],
.editable-checklist label span {
    vertical-align: middle;
    margin: 0;
}

.editable-checklist label {
    white-space: nowrap;
}

.editable-wysihtml5 {
    width: 566px;
    height: 250px;
}

.editable-clear {
    clear: both;
    font-size: 0.9em;
    text-decoration: none;
    text-align: right;
}

.editable-clear-x {
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    opacity: 0.6;
    z-index: 100;
    top: 50%;
    right: 6px;
    margin-top: -6px;
}

.editable-clear-x:hover {
    opacity: 1;
}

.editable-pre-wrapped {
    white-space: pre-wrap;
}

.editable-container.editable-popup {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    z-index: 9999;
    max-width: 100% !important;
    pointer-events: auto !important;
}

.editable-container.popover {
    width: auto;
}

.editable-container.editable-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto;
}

.editable-container.ui-widget {
    font-size: inherit;
    z-index: 9990;
}

.editable-click,
a.editable-click,
a.editable-click:hover {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
}

.editable-click.editable-disabled,
a.editable-click.editable-disabled,
a.editable-click.editable-disabled:hover {
    color: #585858;
    cursor: default;
    border-bottom: none;
}

.editable-empty,
.editable-empty:hover,
.editable-empty:focus {
    font-style: italic;
    color: #dd1144;
    text-decoration: none;
}

.editable-unsaved {
    font-weight: bold;
}

.editable-bg-transition {
    -webkit-transition: background-color 1400ms ease-out;
    -moz-transition: background-color 1400ms ease-out;
    -o-transition: background-color 1400ms ease-out;
    -ms-transition: background-color 1400ms ease-out;
    transition: background-color 1400ms ease-out;
}

.form-horizontal .editable {
    padding-top: 5px;
    display: inline-block;
}

.editable-input input {
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    margin: 0 0 8px;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid #0277bd;
    min-width: 220px;
}

.editableform {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 16px;
    text-align: left;
    background-color: #ffffff;
    box-sizing: border-box;
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
    label {
        font-size: 12px;
        margin-bottom: 0;
        padding-bottom: 0;
        color: rgba(0, 0, 0, 0.54);
    }
}

.editableform textarea {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 2px;
    font-size: 14px;
    color: #555;
    min-width: 400px;
    min-height: 120px;
}

.editable-submit,
.editable-cancel {
    margin-top: 12px;
    font-size: 14px;
    border: 0;
    padding: 8px 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.editable-submit {
    background-color: #2196f3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    color: white;
    float: right;
}

.editable-cancel {
    background-color: #fff;
    color: #555;
    float: left;
    text-align: left;
    padding-left: 0;
}

@media only screen and (max-width: 767px) {
    .editable-container.editable-popup {
        width: 100%;
        left: 0 !important;
    }
    .editable-input input {
        width: 100%;
    }
    .editableform textarea {
        width: 100%;
        min-width: 0;
    }
}
